*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body{
  min-height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  background-image: linear-gradient(147deg, #f5f5f5 0%, #8c92ac 100%);
}


